div.left-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  background-color: #0d4366;
}

div.left-menu ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  color: white;
  margin: 0;
}

div.left-menu ul li {
  color: white !important;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

div.left-menu ul li > a {
  color: white;
  -webkit-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
}

div.left-menu ul li > a:hover,
div.left-menu ul li > a:active {
  color: darkorange;
}

div.left-menu ul li:hover {
  background-color: #0e496f;
}

div.page-content {
  position: absolute;
  top: 0;
  left: 100px;
  right: 0;
  background-color: #F2F2F2;
}

* {
  font-family: "Raleway","Helvetica Neue","Helvetica","Arial";
}

* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  font-family: "Roboto Slab","Helvetica Neue","Arial";
}

* h1 *,
* h2 *,
* h3 *,
* h4 *,
* h5 *,
* h6 * {
  font-family: "Roboto Slab","Helvetica Neue","Arial";
}

* a {
  -webkit-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
}

* a:hover,
* a:active {
  color: darkorange;
}

div.top-grid-row > div.cell {
  height: 275px;
}

div.body-grid-row > div.cell {
  height: 350px;
}

div.cell.raised {
  border: 2px solid #bfbfbf;
  -webkit-box-shadow: 2px 2px 2px #bfbfbf;
          box-shadow: 2px 2px 2px #bfbfbf;
}

div.cell.white {
  background-color: white;
}

div.cell.primary {
  background-color: #0C3D5D;
  color: white;
}

div.cell.secondary {
  color: white;
  background-color: #275777;
}

div.cell.tertiary {
  color: white;
  background-color: #0c5d2c;
}

div.cell.lower-right-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.cell.image {
  color: white;
  background-size: cover;
}

div.cell.right-align {
  text-align: right;
}

p.extra-large {
  font-size: 40pt;
}

