div.left-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  background-color: #0C3D5D;
}

div.left-menu ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  color: white;
  margin: 0;
}

div.left-menu ul li {
  color: white !important;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

div.left-menu ul li > a {
  color: white;
  -webkit-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
}

div.left-menu ul li > a:hover,
div.left-menu ul li > a:active {
  color: darkorange;
}

div.left-menu ul li:hover {
  background-color: #0d4366;
}

div.page-content {
  position: absolute;
  top: 0;
  left: 100px;
  right: 0;
  bottom: 0;
  background-color: #F2F2F2;
}

* {
  font-family: "Raleway","Helvetica Neue","Helvetica","Arial";
}

* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  font-family: "Roboto Slab","Helvetica Neue","Arial";
}

* h1 *,
* h2 *,
* h3 *,
* h4 *,
* h5 *,
* h6 * {
  font-family: "Roboto Slab","Helvetica Neue","Arial";
}

div.top-grid-row > div.cell {
  height: 275px;
}

div.cell.raised {
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 5px 5px px #d9d8d8;
          box-shadow: 5px 5px px #d9d8d8;
  background-color: white;
}

