$menu-color : #0C3D5D;
$secondary: #275777;
$tertiary: #0c5d2c;
$background-color: #F2F2F2;


*{
  font-family:"Raleway","Helvetica Neue","Helvetica","Arial";
  h1,h2,h3,h4,h5,h6{
    font-family:"Roboto Slab","Helvetica Neue","Arial";
    & *{
      font-family:"Roboto Slab","Helvetica Neue","Arial";
    }
  }
  a{
    transition:color 0.25s ease-in;
  }
  a:hover,a:active{
    color: darkorange;
  }
}
div.top-grid-row
{
  & > div.cell
  {
    height:275px;
  }
}

div.body-grid-row{
  & > div.cell{
    height:350px;
  }
}
div.cell{
  &.raised{
    border: 2px solid darken($background-color, 20%);
    box-shadow: 2px 2px 2px darken(#f2f2f2, 20%);
  }
  &.white{
    background-color:white;
  }
  &.primary{
    background-color:$menu-color;
    color:white;
  }
  &.secondary{
    color:white;
    background-color: $secondary;
  }
  &.tertiary{
    color:white;
    background-color:$tertiary;
  }
  &.lower-right-text{
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    flex-direction:column;
  }
  &.image{
    color:white;
    background-size:cover;
  }
  &.right-align{
    text-align:right;
  }
}

p.extra-large{
  font-size:40pt
}