*{
  font-family:"Raleway","Helvetica Neue","Helvetica","Arial";
  h1,h2,h3,h4,h5,h6{
    font-family:"Roboto Slab","Helvetica Neue","Arial";
    & *{
      font-family:"Roboto Slab","Helvetica Neue","Arial";
    }
  }
}

div.top-grid-row
{
  & > div.cell
  {
    height:275px;
  }
}

div.cell{
  &.raised{
    border:1px solid darken($background-color, 5%);
    box-shadow: 5px 5px px darken($background-color,10%);
    background-color: white;
  }
}